extend layout

block content
  form(action="/",method="post")
    table(border='6px', width='100%')
      tr
        td
          p.jg Select your name:
        td
          select(name="retName", id="retName")
            -for item in names
              option(value='#{item}') #{item}
      tr
        td
          p
        td
          p
      tr
        td
          p
        td
          p
      tr
        td
          p
        td
          p
      tr
        td
          p.jg Select your service:
        td
          select(name="servicename", id="servicename")
            -for item in svcs
              option(value='#{item}') #{item}
      tr
        td
          p
        td
          p
      tr
        td
          p
        td
          p
      tr
        td
          p
        td
          p
      tr
        td
          input(id="submit",type="submit",value="submit")
        td
          p
