extend layout

block content
  p
    | Get your username and password:
    form(action="/",method="post")
      p
          select(name="retName", id="retName")
            -for item in names
              option(value='#{item}') #{item}
      p
          input(id="servicename",type="text",name="servicename",placeholder="...")
      p
          input(id="submit",type="submit",value="submit")
