extend layout

block content
  p
    h2 Credentials for #{firstname} for accessing #{servicename} : 
  p
    | Username: <b>#{uname}</b>

  p
    | Password: <b>#{password}</b>
  p
    h2
      a(href="/", title="Home") Back
