extend layout

block content
  p #{title}
  p
    | Hark, a sparrow, wings of madness swoosh overhead.
    | The distant morning lights beckon and fade as your true love prepares for war.

  p
    | Hold her hand, warm from the blankets of time and space.
    | And with eyes of incandescent bewilderment and with a lion's heart,
    | gaze back into the blackness that silently cackles at you like an ultra-cosmic witch.
